@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('https://raw.githubusercontent.com/Gato-Da-Noite/tesla-motors/main/tesla_motors/assets/cars/model_3.jpeg');
    background-position-y: -85px;
    background-size: cover;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.cars-list {
    padding: 4px 5px 4px 5px;
    cursor: pointer;
    list-style: none; 
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin-left: 120px;
}

.li4 {
    background-color: transparent;
    box-sizing: border-box;
    height: 25px;
    width: 64px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.li4:hover {
    background-color: rgb(158, 155, 155);
    box-sizing: border-box;
    height: 25px;
    width: 64px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.li {
    background-color: transparent;
    box-sizing: border-box;
    height: 25px;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.li:hover {    
    background-color: rgb(158, 155, 155);
    box-sizing: border-box;
    height: 25px;
    width: 100px;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    transition: ease-out 0.5s;
}

.services-list {
    cursor: pointer;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin-right: 10px;
}

.logo-t {
    margin-top: -50px;
    width: 150px;
    height: 150px;
}

.p-text {
    margin-top: -30px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 50px;
    margin-bottom: -20px;
}

#sub-t {
    font-weight: normal;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 350px;
    margin-left: 180px;
    margin-right: 180px;
}

.buy {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    border: 3px solid white;
    border-radius: 60px;
    padding: 9px 10px 10px 10px;
    height: 38px;
    width: 200px;
}

.buy:hover {
    background-color: #fff;
    color: #000000;
    transition: ease-in-out 0.8ms;
}

.info-d {
    color: #fff;
    text-align: center;
    font-size: larger;
}
